<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
     <link rel="stylesheet" type="text/css" href="/static/css/base.css">
     <link rel="stylesheet" type="text/css" href="/static/css/foot.css">
     <link rel="stylesheet" type="text/css" href="/static/css/login.css">
{#      <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.js"></script>#}
    <script src="{% static 'admin/js/jquery.js' %}"></script>
     <script src="{% static 'admin/js/html5.js' %}"></script>
     <script src="{% static 'js/ie6.js' %}"></script>

    <script type="text/javascript" src="../../static/js/login.js"></script>
    <title>登录 -- 听说科技</title>
</head>
<body>
    <!--logo 部分-->
    <div class="head">
        <a class="logo" href="#">
            <img src="../../static/images/logo1.png" alt="">
        </a>
    </div>
    <div class="login_bg">
        <div class="set_area">
            <div class="wrap">
                <div id="J_cheatProoTop" class="new_tip">
                    <div>
                        请勿设置与邮箱及其他网站相同的登录及支付密码，
                        <a href="#">谨防诈骗</a>！
                    </div>
                </div>
                <div id="J_loginDiv">
                    <form class='form-login' action="/login/" method="post">

                     {% if message %}
                     <div class="alert alert-warning">{{ message }}</div>
                     {% endif %}
                     {% csrf_token %}
                        <div id="J_loginCoreWrap" class="infro">
                            <p class="password_login">密码登录</p>
                            <!--用户名-->
                            <div id="username_div" class="username">
                                <input type="text" name="username" class="form-control" maxlength="128" required="" id="id_username" placeholder="用户名">
                            </div>
                            <br/>
                         
                            <!--密码-->
                            <div id="password_div" class="password">
                                <input type="password" name="password" class="form-control" maxlength="256" required="" id="id_password"placeholder="密码">
                            </div>
                            <br/>
                            <div id="captcha_div"class="captcha1">
                                {{ login_form.captcha.errors }}

                                <span>验证码:</span>{{ login_form.captcha }}
                            </div>
                            <br/>
                            <p class="btn">
                                <button id="submintLoginBtn" type="submit">登录</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <style>
        .captcha{
                  width:120px;
                  height:34px;
                  }
        .form-control{
            border: 1px solid #e6e6e6;
            font-family: 'Microsoft YaHei';
            height: 12px;
            float: left;
            width: 270px;
            margin-right: 5px;
            padding: 4px 5px;
            line-height: 12px;
            outline: 0 none;
            border-radius: 1px;
            color: #333;
        }
        #id_captcha_1{
            border: 1px solid #e6e6e6;
            font-family: 'Microsoft YaHei';
            height: 34px;
            float: left;
            width: 400px;
            margin-right: 5px;
            line-height: 12px;
            outline: 0 none;
            border-radius: 1px;
            color: #333;
        }         
    </style>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script>
     $(function(){
     $('.captcha').css({
        'cursor': 'pointer'
     })

     $('.captcha').click(function(){
         $.getJSON("/captcha/refresh/",
                  function(result){
                     $('.captcha').attr('src', result['image_url']);
                     $('#id_captcha_0').val(result['key'])
                  }
         );
     });

     $('#id_captcha_1').blur(function(){

        json_data={
            'response':$('#id_captcha_1').val(),
            'hashkey':$('#id_captcha_0').val()
        }
        $.getJSON('/captcha/ajax_val/', json_data, function(data){ //ajax发送            $('#captcha_status').remove()
            if(data['status']){
                $('#id_captcha_1').after('<span id="captcha_status" >*验证码正确</span>')
            }else{
                 $('#id_captcha_1').after('<span id="captcha_status" >*验证码错误</span>')
            }
        });
     });
     })
    </script>
    <div class="footer_nav_box">
        <div class="footer_nav">
            <a href="http://www.waiyutong.org/about.html" target="_blank" rel="nofollow">关于听说</a>
            <span class="sep">|</span>
            <a href="http://www.waiyutong.org/joinUs.html" target="_blank">加入听说</a>
            <span class="sep">|</span>
            <a href="https://www.waiyutong.org/download.html" target="_blank">下载中心</a>
            <span class="sep">|</span>
            <a href="http://www.waiyutong.org/questions.html" target="_blank">常见问题</a>
            <span class="sep">|</span>
            <a href="http://www.waiyutong.org/qdlm.html" target="_blank">渠道联盟</a>
        </div>
        <div class="footer_copyright">
            <span>Copyright © 2008-2019 南京听说科技有限公司 All Rights Reserved 电信增值业务许可证:苏B2-20160570</span>
        </div>


        <div class="clear"></div>
    </div>
</body>
</html>