<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>教师批改页面</title>
        <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
        <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/foot.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/reset.css">
        <link rel="stylesheet" href="../../static/layui/css/style.css">
        <script src="../../static/js/jquery-3.3.1.js"></script>
    </head>

    <body>
        <div class="layui-layout layui-layout-admin">dfsdfsgdfsgsdfgsdfgfgdfsgfdgfsdgsdfgdfsg </div>
            <div class="header_con">
               <div class="header">
               <div class="welcome fl">欢迎来到听说科技</div>
                <div class="fr">
                  <div class="login_btn fl">
                    {% if request.session.is_login %}
                    欢迎您：<span>{{ request.session.user_name }}</span>
                    {% ifequal request.session.user_identity 'student' %}
                    <span>|</span>
                    <a href="/write/">写作训练</a>
                    <span>|</span>
                    <a href="/package/">我的套餐</a>
                    <span>|</span>
                    <a href="/logout/">退出</a>
                    {% else %}
                    <span>|</span>
                    <a href="/correct/">作文批改</a>
                    <span>|</span>
                    <a href="/backlog/">我的任务</a>
                    <span>|</span>
                    <a href="/logout/">退出</a>
                    {% endifequal %}
                    {% else %}
                    <a href="/login/">登录</a>
                    <span>|</span>
                    <a href="/register/">注册</a>
                    {% endif %}
                  </div>
                  <div class="user_link fl">
                    <span>|</span>
                    <!-- <a href="/personalinfo/">用户中心</a> -->
                    <a>用户中心</a>
                    <span>|</span>
                    <!-- <a href="/showcart/">我的购物车</a> -->
                    <a>我的购物车</a>
                    <span>|</span>
                    <a href="/home/">主页</a>
                  </div>
                </div>
                </div>
            </div>
            

            <div class="layui-side layui-side-menu" style="z-index:0">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree layui-nav-side
                        layui-bg-cyan" style="margin-top: 58px;">

                    <li class="layui-nav-item layui-nav-itemed
                            system_solving">

                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" style="padding-top:
                                        10px;font-size: 16px;" class="errorTotal">错误分类<span></span></a></dd>
                            <dd><a href="javascript:;" class='whitespace'>&nbsp;&nbsp;&nbsp;&nbsp;空白提示<span></span></a>
                            </dd>
                            <dd><a href="javascript:;" class='grammar'>&nbsp;&nbsp;&nbsp;&nbsp;语法错误<span></span></a>
                            </dd>
                            <dd><a href="javascript:;" class='style'>&nbsp;&nbsp;&nbsp;&nbsp;句子冗长<span></span></a></dd>
                            <dd><a href="javascript:;" class='misspelling'>&nbsp;&nbsp;&nbsp;&nbsp;拼写错误<span></span></a>
                            </dd>
                            <dd><a href="javascript:;"
                                    class='typographical'>&nbsp;&nbsp;&nbsp;&nbsp;排版问题<span></span></a></dd>
                            <dd><a href="javascript:;" class='duplication'>&nbsp;&nbsp;&nbsp;&nbsp;重复提示<span></span></a>
                            </dd>
                            <dd><a href="javascript:;"
                                    class='locale-violation'>&nbsp;&nbsp;&nbsp;&nbsp;美式英语<span></span></a></dd>
                            <dd><a href="javascript:;"
                                    class='inconsistency'>&nbsp;&nbsp;&nbsp;&nbsp;搭配不当<span></span></a></dd>
                            <dd><a href="javascript:;"
                                    class='uncategorized'>&nbsp;&nbsp;&nbsp;&nbsp;未分类处<span></span></a></dd>
                        </dl>
                    </li>

                </ul>

            </div>

            </div>
         

                <div class="layui-body layui-tab-content site-demo site-demo-body" style="bottom:0">
                    <div class="layui-tab-item layui-show">

                        <div class="middle_right layui-main" style="margin: 20px
                        15px;">
                    <div class="middle_content">
                        <p class="content"></p>
                
                    </div>

                   <div class="right_show">

                      
                        <ul>
                            <li style="background-color: #86b5e6;">
                                <div>单词数</div>
                                <div class="word_count">
                                    <span></span>个

                                </div>

                            </li>
                            <li>
                                <div>平均词长</div>
                                <div class="avg_word_len">
                                    <span></span>字节
                                </div>

                            </li>
                            <li>
                                <div>独立词数</div>
                                <div class="unique_word">
                                    <span></span>个
                                </div>

                            </li>
                            <li>
                                <div>过渡词数</div>
                                <div class="conjunction_word_countN">
                                    <span></span>个
                                </div>

                            </li>

                            <li style="background-color: #86b5e6;">
                                <div>句子个数</div>
                                <div class="sentence_count">
                                    <span></span>句
                                </div>

                            </li>
                            <li>
                                <div>平均句长</div>
                                <div class="avg_sentence_len">
                                    <span></span>词条
                                </div>

                            </li>


                            <li>
                                <div>简单句数</div>
                                <div class="sentence_simple_count">
                                    <span></span>句
                                </div>

                            </li>
                            <li>
                                <div>并列句数</div>
                                <div class="sentence_compound_count">
                                    <span></span>句
                                </div>

                            </li>
                            <li>
                                <div>复合句数</div>
                                <div class="sentence_complex_count">
                                    <span></span>句
                                </div>

                            </li>
                            <li>
                                <div style="font-size: 12px;">并列复合句数</div>
                                <div class="sentence_compound_complex_count">
                                    <span></span>句
                                </div>

                            </li>

                        </ul>

                    
                        <div style="width: 100px;margin: 10px auto;">
                            <button type="button" class="layui-btn
                                            layui-btn-radius word_details">查看详情</button></div>
                   </div>

                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                        <legend>整体评价</legend>
                      </fieldset>
                      <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                          <label class="layui-form-label">词汇</label>
                          <div class="layui-input-block">
                            <input type="text" name="title" id="word" autocomplete="off" placeholder="请输入对词汇的评价" class="layui-input">
                          </div>
                        </div>
                        
                        <div class="layui-form-item">
                            <label class="layui-form-label">句子</label>
                            <div class="layui-input-block">
                              <input type="text" name="title" id="sentence" autocomplete="off" placeholder="请输入对句子的评价" class="layui-input">
                            </div>
                          </div>
                          <div class="layui-form-item">
                            <label class="layui-form-label">篇章结构</label>
                            <div class="layui-input-block">
                              <input type="text" name="title" id="structure" autocomplete="off" placeholder="请输入对篇章结构的评价" class="layui-input">
                            </div>
                          </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">总评</label>
                            <div class="layui-input-block">
                              <textarea id="total" placeholder="建议从切题性、段落结构、句子逻辑等方面进行评价" class="layui-textarea"></textarea>
                            </div>
                          </div>
                          <div class="layui-form-item">
                            <label class="layui-form-label">得分</label>
                            <div class="layui-input-inline">
       <!-- lay-verify="required|number" -->
                              <input type="text" name="username"  placeholder="请输入" autocomplete="off" class="layui-input" id="scores">
                            </div>
                          </div>
                          
                          <div class="layui-form-item">
                            <button class="layui-btn correct_button1" lay-submit="" lay-filter="demo2" type="button">暂存</button>
                            <button class="layui-btn correct_button" lay-submit="" lay-filter="demo2" type="button">提交</button>
                          </div>

                      </form>

                    <fieldset class="layui-elem-field
                                    layui-field-title" style="margin-top:
                                    20px;">
                        <legend>系统批改详情</legend>
                    </fieldset>
                    <div style="padding: 20px;
                                    background-color:#F2F2F2;" class="layui_details">

                    </div>
                </div>
                        <!-- 系统错误标注展示 -->
                        <!-- <div class="middle_right_1" style="display:none">
                    <p class="content_1"></p>
        
        
                </div> -->
                    </div>


                <!-- 取消教师批注的弹窗 -->
                <!-- <div class="popup_cancel_wrap">
                    <div class="popup_cancel">
                        <div class='layui-layer-btn layui-layer-btn- repeal_teather' style='padding: 0;'><a class='layui-layer-btn0' >撤销</a></div>
                    </div>
                </div> -->
                </div>            
           
           
                    <div class="pop_words">


            <!-- 词汇 -->

            <div class="pop_words_3">


                <table class="word_list">
                    <tr class="word_list_head">
                        <td>实词</td>
                        <td class="notionalN"></td>
                    </tr>
                    <tr>
                        <td>名词&nbsp;[<span class="noun_count"></span>]</td>
                        <td class="noun_list"></td>
                    </tr>
                    <tr>
                        <td>代词&nbsp;[<span class="pron_count"></span>]</td>
                        <td class="pron_list"></td>
                    </tr>
                    <tr>
                        <td>形容词&nbsp;[<span class="adj_count"></span>]</td>
                        <td class="adj_list"></td>
                    </tr>
                    <tr>
                        <td>副词&nbsp;[<span class="adv_count"></span>]</td>
                        <td class="adv_list"></td>
                    </tr>
                    <tr>
                        <td>动词&nbsp;[<span class="verb_count"></span>]</td>
                        <td class="verb_list"></td>
                    </tr>
                    <tr>
                        <td>数词&nbsp;[<span class="num_count"></span>]</td>
                        <td class="num_list"></td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr class="word_list_head">
                        <td>虚词</td>
                        <td class="functionN"></td>

                    </tr>
                    <tr>
                        <td>冠词&nbsp;[<span class="art_count"></span>]</td>
                        <td class="art_list"></td>
                    </tr>
                    <tr>
                        <td>介词&nbsp;[<span class="prep_count"></span>]</td>
                        <td class="prep_list"></td>
                    </tr>
                    <tr>
                        <td>连词&nbsp;[<span class="conj_count"></span>]</td>
                        <td class="conj_list"></td>
                    </tr>
                    <tr>
                        <td>感叹词&nbsp;[<span class="interj_count"></span>]</td>
                        <td class="interj_list"></td>
                    </tr>



                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                </table>
                <div class="flex-item" style="margin-left: 20px;">
                    <div class="echarts_title">
                        <h2>年级词汇数量分布</h2>

                    </div>
                    <div class="echrts_div" id="echarts_bar">

                    </div>
                </div>

            </div>
            <div class="pop_words_3">
                
                <table class="otherword_list">
                    <thead>
                    <tr class="word_list_head">
                        <td>外来词</td>
                        <td class="foreign_count"></td>

                    </tr>
                </thead>
                    <tbody class="foreign_list">
                    </tbody></table>

                    <table class="otherword_list">
                            <thead>
                    <tr class="word_list_head">
                        <td>停止词</td>
                        <td class="stopwords_count"></td>

                    </tr>
                </thead>
                    <tbody class="stopwords_list">
                    </tbody></table>


                    <table class="otherword_list">
                            <thead>
                    <tr class="word_list_head">
                        <td>过渡词</td>
                        <td class="conjunction_word_count"></td>

                    </tr>
                    </thead>
                    <tbody class="conjunction_word_list">
                    </tbody></table>

            </div>
                <div class="pop_words_3">
                    <!-- 句子 -->



                    <div class="sentence_list">
                        <div class="word_list_head">简单句&nbsp;[<span
                                class="sentence_simple_count"></span>]</div>
                        <ul class="sentence_simple_list">

                        </ul>
                    </div>
                    <div class="sentence_list">
                        <div class="word_list_head">并列句&nbsp;[<span
                                class="sentence_compound_count"></span>]</div>
                        <ul class="sentence_compound_list">

                        </ul>
                    </div>
                    <div class="sentence_list">
                        <div class="word_list_head">复合句&nbsp;[<span
                                class="sentence_complex_count"></span>]</div>
                        <ul class="sentence_complex_list">


                        </ul>
                    </div>
                    <div class="sentence_list">
                        <div class="word_list_head">并列复合句&nbsp;[<span
                                class="sentence_compound_complex_count"></span>]</div>
                        <ul class="sentence_compound_complex_list">

                        </ul>
                    </div>

                </div>

                <div class="pop_words_3">
                    <!-- 文章结构 -->
                    <div class="flex-item" style="width: 300px;">
                        <div class="echarts_title">
                            <h2>单词长度的数量分布</h2>

                        </div>
                        <div class="echrts_div1" id="echarts_pie1">

                        </div>
                    </div>
                    <div class="flex-item" style="width: 300px;">
                        <div class="echarts_title">
                            <h2>句子长度的数量分布</h2>

                        </div>
                        <div class="echrts_div1" id="echarts_pie2">

                        </div>
                    </div>

                    <div class="flex-item" style="width: 300px;">
                        <div class="echarts_title">
                            <h2>句型占比</h2>

                        </div>
                        <div class="echrts_div1" id="echarts_pie3">

                        </div>
                    </div>

                </div>




                    </div>
          
         <!-- 弹出批改框 -->
        <div class="popup layui-layer layui-layer-page layui-layer-prompt" id="layui-layer1" type="page" times="1" contype="string" style="display:none;width:400px;">
            <div class="popup_style">

                <form class="layui-form myform" style="font-size:14px;width: 160px;display:inline-block; margin-left: 8px;">

                    <div class="layui-input-inline">
                        <select name="quiz1" lay-filter="filter" class="select_options">
                            <option value="">请选择错误类型</option>
                            <option value='whitespace'>空白提示</option>
                            <option value='grammar'>语法错误</option>
                            <option value='style'>句子冗长</option>
                            <option value='misspelling'>拼写错误</option>
                            <option value='typographical'>排版问题</option>
                            <option value='duplication'>重复提示</option>
                            <option value='locale-violation'>美式英语</option>
                            <option value='inconsistency'>搭配不当</option>
                            <option value='uncategorized'>未分类处</option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="popup_text layui-layer-content">
                <input placeholder="请输入错误类型" class="layui-layer-input comment_type" style="width: 314px;padding: 12px 20px;height:20px;margin-bottom: 10px;float:left;">
             
                <textarea placeholder="请输入批改内容" class="layui-layer-input comment" style="width: 314px;padding: 12px 21px;"></textarea>
            </div>
        </div>
        <!-- 重新编辑框 -->
        <div class="popup1 layui-layer layui-layer-page layui-layer-prompt" id="layui-layer1" type="page" times="1" contype="string"
            style="display:none;width: 400px;">
            <div class="popup_style1">
             
                <form class="layui-form myform" style="font-size:14px;width: 160px;display:
                            inline-block; margin-left: 8px;">

                    <div class="layui-input-inline">
                        <select name="quiz1" lay-filter="filter1" class="select_options1">
                            <option value="">请选择错误类型</option>
                            <option value='whitespace'>空白提示</option>
                            <option value='grammar'>语法错误</option>
                            <option value='style'>句子冗长</option>
                            <option value='misspelling'>拼写错误</option>
                            <option value='typographical'>排版问题</option>
                            <option value='duplication'>重复提示</option>
                            <option value='locale-violation'>美式英语</option>
                            <option value='inconsistency'>搭配不当</option>
                            <option value='uncategorized'>未分类处</option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="popup_text1 layui-layer-content">
                <input placeholder="请输入错误类型" class="layui-layer-input
                            comment_type1" style="width: 314px;padding: 12px
                            20px;height:20px;margin-bottom: 10px;float: left;">
             
                <textarea placeholder="请输入批改内容" class="layui-layer-input
                        comment1" style="width: 314px;padding: 12px 21px;"></textarea>
            </div>
        </div>
       
            <script src="../../static/layui/layui.js"></script>
            <script src="../../static/layui/js/jquery-3.3.1.js"></script>
            <script src="../../static/layui/lay/modules/jquery.js"></script>
            <script src="../../static/layui/lay/modules/layer.js"></script>
            <script src="../../static/layui/lay/modules/form.js"></script>
            <script src="../../static/layui/lay/modules/table.js"></script>
            <script src="../../static/layui/js/echarts.js"></script>
            <script type="text/javascript">
                // var aaa = {{ data|safe }};
                // console.log(aaa);
            </script>
            <script src="../../static/layui/js/teacher_check.js"></script>


        </body>

    </html> 