/* .popup {
    display: none;
    position: absolute;
    width: 330px;
    height: 200px;
    border: 1px solid #ffb800;
    background-color: #fff;
    padding: 10px;
} */
/* .popup_left {
    float:left;
    width:60%
}
.popup_right {
    float:left;
    width:40%;
    margin-top: 10px;
} */
.popup {
    z-index:1000;
}
.popup_right ul li {
    float: left;
    margin: 5px 10px 0 0;
    height: 30px;
    position: relative;
}
.popup_right ul li input {
    border: 1px solid #fff;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    height: 30px;
    width: 70px;
    line-height: 20px;
    text-align: center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 0 3px;
    background-color: #37ace8;
}
.popup_text {
    padding:10px;
}
.popup_text textarea {
    width: 310px;
    height: 120px;
   
}

.popup_style {
    text-align: left;
    padding: 15px 0px 0px 24px;
}
.popup_style span {
    color: #484343;
    display: inline-block;
    font-size: 14px;
    height: 14px;
    text-decoration: none;
    width: 14px;
    line-height: 14px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 3px;
}
.popup_style #underline {
    text-decoration: underline;
}
.popup_style #del {
    text-decoration: line-through;
}
.popup_style #color_pink {
    background-color: #ff645d;
    margin-right: 5px;
}
.popup_style #color_green {
    background-color: #1abe25;
    margin-right: 5px;
}
.popup_style #color_red {
    background-color: #eb3922;
    margin-right: 5px;
}
/* .middle {
    width: 100%;
    overflow: hidden;
}

.middle_left {
    width: 20%;
    float: left;
}

.middle_right {
    width: 80%;
    float: left;
} */
.content {
    line-height: 40px;
    font-size: 15px;
}

#underline {
text-decoration: underline;
}
#through {
text-decoration: line-through;
}


/* 侧边导航栏 */
/* .layui-nav-tree .layui-nav-child, .layui-nav-tree .layui-nav-child dd:hover {
    background: 0 0;
    color: #fff;
}
.layui-nav-tree .layui-nav-child dd {
    height: 40px;
    line-height: 40px;
    color: #fff;
    color: rgba(255,255,255,.7);
}
.layui-nav .layui-nav-child dd {
    padding: 0 40px;
    cursor: pointer;
} */



/* .middle_right_1 {
    width: 80%;
    float: left;
}
.content_1 {
    line-height: 40px;
    font-size: 15px;
} */
.highlight {
    color:#eb3922;
}
.error_mark_wrap{
    display: none;
    position: absolute;
    width: 250px;
    padding-top: 40px;
    font-size: 15px;
    z-index: 1000;
}
.error_mark {
    height: auto;
    border: 2px solid #ffb800;
    background-color: #fff;
    padding: 20px;
    line-height: 30px;
   
}

/* .em {
    text-decoration: none;
    display:inline-block;
    background-color: #ffb800;
    line-height: 16px;
    color: #fff;
    padding: 3px;
} */
.collect {
    margin-right: -18px;
}
.popup_cancel_wrap {
    display: none;
    position: absolute;
    width: 250px;
    padding-top: 40px;
    font-size: 15px;
    z-index:1000;
}
.popup_cancel{
    
    height: auto;
    border: 2px solid #ffb800;
    background-color: #fff;
    padding: 20px;
    line-height: 30px;
}